*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-weight:bold;
  letter-spacing: 3px;
  font-size:20px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header,.footer{
  background: red;
  color:white;
  text-align: center;
  height:70px;
  line-height:70px;
}

.footer{
  background:blue;
}

.main{
  display:flex;
}
.content, .sidebar {
  width:70%;
  background:orange;
  color:white;
  text-align: center;
  padding:150px 0;
  
}

.sidebar {
  width:30%;
  background:rgb(49, 172, 172);
  
}

/* CSS FOR Baitap3*/
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 600px;
}